.fsc_RoundedButton {
  display: flex;
  justify-content: center;
  background: #ffffff;
  width: 52px;
  height: 52px;
  border-radius: 35px;
  cursor: pointer;
  margin: 5px 5px 5px 10px;
  box-shadow: 0 5px 25px rgba(42, 139, 242, 0.07),
  0 7px 25px rgba(42, 139, 242, 0.03), 0 10px 15px rgba(0, 0, 0, 0.03);

  &:hover {
    box-shadow: 0 5px 25px rgba(40, 134, 233, 0.15),
    0 7px 25px rgba(38, 126, 219, 0.15), 0 10px 15px rgba(218, 218, 218, 0.15);
  }
}
