.ChatDashboard_SideBar {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #FFFFFF;
  box-shadow: 23.8596px 5.61404px 50px rgba(0, 0, 0, 0.02), 35.0877px 0 70px rgba(86, 128, 248, 0.05), 14.0351px 0 25px rgba(86, 128, 248, 0.03);

  &__navigationList {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  &__userProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;

    &--name {
      padding: 10px;
    }

    &--avatar {
      padding: 10px;
    }
  }
}
