/*
Specific UI components.
This is where majority of our work takes place and our UI components are
often composed of Objects and Components.

Since this project is a React JS component, we define these components in parent folders
as such components. High likelihood this import would not be used
*/
